/* game board table */

#game {
  margin: 3% 0 0 20%;
}

#board {
  border-collapse: separate;
  position: absolute;
}

#board td {
  width: 80px;
  height: 80px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  /*margin: 5px;*/
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  animation: 0.1s linear running slidein;
}

@keyframes slidein {
  from {
    margin-top: 0%;
    transform: translateY(-500px);
  }

  to {
    margin-top: 100%;
  }
}

.p1 {
  background-color: gold;
}

.p2 {
  background-color: red;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  border-radius: 45px;
}
